<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2 class="footer-heading mb-4">Sobre nós</h2>
        <p>A Hub é uma empresa de contac center, que conecta os pontos interessados, com propostas modernas de atendimento e ativa soluções às necessidades dos clientes, consumidores e sociedade.</p>
      </div>
      <div class="col-md-3">
        <h2 class="footer-heading mb-4">Seções</h2>
        <ul class="list-unstyled">
          <li><a href="#about-section">Sobre nós</a></li>
          <li><a href="#services-section">Serviços</a></li>
          <li><a href="#structure-section">Atuação</a></li>
          <li><a href="#team-section">Nosso time</a></li>
          <li><a href="#clients-section">Clientes</a></li>
          <li><a href="#contact-section">Fale Conosco</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="mb-5">
          <div class="mb-5">
            <h2 class="footer-heading mb-4">Hub Atendimento</h2>
            <div>Alberto Bins, 658 8°andar cep: 900100-50 / Porto Alegre/ RS</div>
            <div>(51) 3181-0760</div>
          </div>
          <h2 class="footer-heading mb-4">Siga a gente</h2>
            <a href="https://www.facebook.com/hubatendimento/" class="smoothscroll pl-0 pr-3" target="_blank">
              <span class="icon-facebook"></span></a>
            <a href="https://www.instagram.com/hubatendimento/" class="pl-3 pr-3" target="_blank">
              <span class="icon-instagram"></span></a>
            <a href="https://www.linkedin.com/company/hub-atendimento/"" class="pl-3 pr-3" target="_blank">
              <span class="icon-linkedin"></span></a>
        </div>
      </div>
    </div>
    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
          <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados</p>
          <div class="colorlib">This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></div>
        </div>
      </div>
    </div>
  </div>
</footer>
