<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner">
  <div class="container">
    <div class="row align-items-center position-relative">
      <div class="site-logo">
        <a href="#home-section"><img src="assets/images/logo.png" class="img-responsive" alt="" /></a>
      </div>
      <nav class="site-navigation text-center ml-auto" role="navigation">
        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
          <li><a href="#about-section" class="nav-link">Sobre nós</a></li>
          <li><a href="#services-section" class="nav-link">Serviços</a></li>
          <li><a href="#structure-section" class="nav-link">Estrutura</a></li>
          <li><a href="#team-section" class="nav-link">Nosso time</a></li>
          <li><a href="#clients-section" class="nav-link">Clientes</a></li>
          <li><a href="#contact-section" class="nav-link">Fale Conosco</a></li>
        </ul>
      </nav>
      <div class="toggle-button d-inline-block d-lg-none">
        <a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
      </div>
    </div>
  </div>
</header>
