<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  {% include favico.html %}
	
  <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="assets/fonts/icomoon/style.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/jquery-ui.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="assets/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="assets/css/aos.css">
  <link rel="stylesheet" href="assets/css/style.css">
  
  {% seo %}
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  <div class="site-wrap" id="home-section">
    {% include nav.html %}    
    {% include_relative _sections/home.html %}
    {% include_relative _sections/about.html %}
    {% include_relative _sections/services.html %}
    {% include_relative _sections/structure.html %}
    {% include_relative _sections/owners.html %}
    {% include_relative _sections/clients.html %}
    {% include_relative _sections/contact.html %}
    {% include footer.html %}
  </div>

  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/jquery-ui.js"></script>
  <script src="assets/js/popper.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/js/jquery.sticky.js"></script>
  <script src="assets/js/jquery.waypoints.min.js"></script>
  <script src="assets/js/jquery.animateNumber.min.js"></script>
  <script src="assets/js/aos.js"></script>

  <script src="assets/js/main.js"></script>
  <script>
    $(function() {
      $('#my-form').on('submit', function(e){
        e.preventDefault();
        
        var name = $('#name').val();
        var email = $('#email').val();
        var message = $('#message').val();

        if (isEmpty(name) || isEmpty(email) || isEmpty(message)) {
          alert('Preencha corretamente todos os campos do formulário.')
        } else {
          $.ajax({
            url: "https://formspree.io/xqkyware",
            method: "POST",
            data: { nome: name, email: email, mensagem: message },
            dataType: "json"
          });
          alert('Contato enviado com sucesso!');
        }
      });
    })

    function isEmpty(val){
      return (val === undefined || val == null || val.length <= 0) ? true : false;
    }
  </script>
  
</body>

</html>
